@page "/events/edit/{EventId:int}"
@inject NavigationManager NavigationManager

<h2>Edit Event</h2>
@if (_eventItem != null)
{
    <EditForm Model="@_eventItem" OnValidSubmit="SaveForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>Name</label><br />
            <InputText @bind-Value="_eventItem.Name" />
            <ValidationMessage For="@(() => _eventItem.Name)" />
        </div>

        <div>
            <label>Month</label><br />
            <InputNumber @bind-Value="_eventItem.Month" min="1" max="12" />
            <ValidationMessage For="@(() => _eventItem.Month)" />
        </div>

        <div>
            <label>
                <InputCheckbox @bind-Value="_eventItem.IsFree" /> Is Free
            </label>
        </div>

        <div style="margin-top:8px">
            <button type="submit">Save</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int EventId { get; set; }

    private EventDto? _eventItem;

    protected override void OnParametersSet()
    {
        _eventItem = EventRepository.GetById(EventId);
    }

    private void SaveForm()
    {
        if (_eventItem == null) return;
        EventRepository.Update(_eventItem);
        
        // redirect to events list after save
        NavigationManager.NavigateTo("/events");
    }
}
