@* Event list component *@

@if (EventList != null && EventList.Count > 0)
{
    <ul class="list-group">
        <Virtualize Items="EventList" Context="eventItem">
            <EventItemComponent Event="eventItem" />
        </Virtualize>
    </ul>
}
else
{
    <div class="text-muted small">No events found.</div>
}

@code {
    [Parameter] public List<EventDto>? EventList { get; set; }
}
